<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body {
            background-color: rgb(243, 203, 209);
            text-align: center;
        }

        .bg-steel {
            background-color: rgb(240, 130, 146);
        }

        .content-section {
            background: #ffebeb;
            padding: 10px 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        

    </style>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Sami's Blog</title>
    {% endif %}
</head>

<body>
    <header>
        <div class="bg-steel">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
        
        <h1>Welcome to my blog!</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class='border-bottom mb-4'>Join Now</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Already havd an account? <a class="ml-2" href="#"></a>
                </small>
            </div>
        </div>
    </header>
</body>
</html>